<!DOCTYPE html>

<html>
  <head>
    <title>Microservices and API projects</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="index.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Microservices and API projects</h1>
    <div class="container">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/timestamp">Timestamp</a></li>
        <li><a href="/header_parser">Header Parser</a></li>
        <li><a href="/url_shortener">URL Shortener</a></li>
        <li><a href="/exercise_tracker">Exercise Tracker</a></li>
        <li><a href="/file_meta_data">File Metadata</a></li>
      </ul>
    </div>
  </body>
</html>
